Repository GitTor-ISU/GitTor-Web, pull requests merged in 2025-09, with the labels that each got.

#22 Implemented s3 unit testing
  api/src/main/java/api/controllers/users/UserAvatarController.java
  api/src/main/java/api/services/S3ObjectService.java
  api/src/main/java/api/services/UserService.java
  api/src/main/java/api/services/storage/LocalStorageService.java
  api/src/main/java/api/services/storage/MinioStorageService.java
  api/src/main/java/api/services/storage/SimpleStorageService.java
  api/src/test/java/api/BasicContext.java
  api/src/test/java/api/controllers/AuthenticationControllerTest.java
  api/src/test/java/api/controllers/AuthorityControllerTest.java
  api/src/test/java/api/controllers/HeartbeatControllerTest.java
  api/src/test/java/api/controllers/RoleControllerTest.java
  api/src/test/java/api/controllers/users/UserAvatarControllerTest.java
  api/src/test/java/api/controllers/users/UserControllerTest.java
  api/src/test/java/api/controllers/users/UserRoleControllerTest.java
  api/src/test/java/api/services/storage/MemoryStorageService.java
  api/src/test/java/api/services/storage/S3ObjectServiceTest.java
  api/src/test/java/api/services/storage/SimpleStorageServiceTest.java
Labels: enhancement, api

#31 Improve api cache workflow
  .github/workflows/api-cache.yml
Labels: bug, api

#23 Make admin and user roles permanent
  api/src/main/java/api/components/DbSetup.java
  api/src/main/java/api/controllers/RoleController.java
  api/src/main/java/api/services/AuthenticationService.java
  api/src/main/java/api/services/RoleService.java
  api/src/test/java/api/controllers/RoleControllerTest.java
Labels: enhancement, api

#28 Clean up custom exception calls
  api/src/main/java/api/controllers/RoleController.java
  api/src/main/java/api/controllers/users/UserAvatarController.java
  api/src/main/java/api/exceptions/DuplicateEntityException.java
  api/src/main/java/api/exceptions/EntityNotFoundException.java
  api/src/main/java/api/services/AuthenticationService.java
  api/src/main/java/api/services/AuthorityService.java
  api/src/main/java/api/services/RoleService.java
  api/src/main/java/api/services/UserService.java
  api/src/test/java/api/controllers/AuthenticationControllerTest.java
  api/src/test/java/api/controllers/users/UserControllerTest.java
Labels: enhancement, api

#35 Restructure frontend file structure
  .github/workflows/api-build.yml
  .github/workflows/ui-build.yml
  .github/workflows/ui-test.yml
  .vscode/settings.json
  tools/run-ui.sh
  tools/update-openapi.sh
  ui/.dockerignore
  ui/.editorconfig
  ui/.gitignore
  ui/.prettierignore
  ui/containerfile
  ui/eslint.config.js
  ui/package-lock.json
  ui/package.json
  ui/src/app/app.config.ts
  ui/src/app/app.routes.ts
  ui/src/app/app.ts
  ui/src/app/core/auth.ts
  ui/src/app/features/about/about.html
  ui/src/app/features/about/about.scss
  ui/src/app/features/about/about.ts
  ui/src/app/features/home/home.html
  ui/src/app/features/home/home.scss
  ui/src/app/features/home/home.ts
  ui/src/app/features/navbar/navbar.html
  ui/src/app/features/navbar/navbar.scss
  ui/src/app/features/navbar/navbar.ts
  ui/src/app/features/navbar/theme-switcher/theme-switcher.html
  ui/src/app/features/navbar/theme-switcher/theme-switcher.scss
  ui/src/app/features/navbar/theme-switcher/theme-switcher.ts
  ui/src/app/features/not-found/not-found.html
  ui/src/app/features/not-found/not-found.scss
  ui/src/app/features/not-found/not-found.ts
  ui/src/app/shared/snakecase-pipe.ts
  ui/tsconfig.json
Labels: enhancement, ui
